@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
  --ParagraphSize: 16px;
  --WeightNormal: 500;
  --WeightBold: 800;
}

body {
  min-height: 100dvh;
  display: grid;
  place-content: center;
  background-color: var(--Yellow);
}

.container {
  background-color: var(--White);
  padding: 20px;
  max-width: 270px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid var(--Black);
  box-shadow: 6px 6px var(--Black);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  cursor: pointer;
}

.container:hover {
  box-shadow: 10px 10px var(--Black);
}

.container > img {
  width: 100%;
  height: 155px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.information {
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.information .tag {
  font-weight: var(--WeightBold);
  background-color: var(--Yellow);
  width: max-content;
  padding: 6px 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 12px;
}

.information .date {
  color: var(--Grey);
  font-size: 12px;
}

.information .title {
  font-size: 18px;
  color: var(--Black);
  font-weight: var(--WeightBold);
}

.information .description {
  color: var(--Grey);
  font-size: 12px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile > img {
  width: 25px;
}

.profile p {
  font-weight: var(--WeightBold);
  color: var(--Black);
  font-size: 13px;
}
