@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
  --paragraphSize: 15px;
  --mobileSize: 375px;
  --desktopSize: 1440px;
}

body {
  min-height: 100vh;
  background-color: var(--lightGray);
  display: grid;
  place-content: center;
}

.qr-card {
  background-color: var(--white);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 15px;
  max-width: 300px;
}

img {
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.text {
  padding: 18px;
}

.title {
  color: var(--darkBlue);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.description {
  margin-top: 20px;
  text-align: center;
  color: var(--grayishBlue);
  font-size: 15px;
  font-weight: 400px;
}
